<table class='table'>
  <tr>
    <th>Who owes \ Whom</th>
    <% @users.each do |user| %>
      <th><%= user %></th>
    <% end %>
  </tr>
  <% @users.each do |user_owing| %>
    <tr>
      <td><%= user_owing %></td>
      <% @users.each do |user_owed| %>
        <td>
          <% if user_owing == user_owed %>
            &mdash;
          <% else %>
            <%= @debts[user_owing].owed_to(user_owed) %>
            <% if @debts[user_owing].uncertain?(user_owed) %>
              <span
                  title="Some data required to calculate the debt is missing."
                  class="with-tooltip debt-uncertain-mark">
                (?)
              </span>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= javascript_tag 'enable_tooltips()' %>
