<table class='table'>
  <tr>
    <th>Who owes \ Whom</th>
    <% @users.each do |user| %>
      <th><%= user %></th>
    <% end %>
  </tr>
  <% @users.each do |user_owing| %>
    <tr>
      <td><%= user_owing %></td>
      <% @users.each do |user_owed| %>
        <td>
          <% if user_owing == user_owed %>
            &mdash;
          <% else %>
            <%= link_to @debts[user_owing][user_owed].amount_non_negative,
              user_debts_path(user_owing.id, user_owed.id) %>
            <% if !@debts[user_owing][user_owed].certain? %>
              <span
                  title="Some data required to calculate the debt is missing."
                  class="with-tooltip debt-uncertain-mark">
                (?)
              </span>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= javascript_tag 'enable_tooltips()' %>
