<tr>
  <td rowspan="2"><%= day_summary.date %></td>
  <td>Gliwice</td>
  <%= render 'commutes/one_direction_cells', day_summary: day_summary %>
</tr>
<tr>
  <td>Katowice</td>
  <%= render 'commutes/one_direction_cells', day_summary: day_summary%>
</tr>
