<h1><%= @date.strftime('%d %B %Y (%A)') %></h1>
<%= form_tag commute_path(@date),
  method: :put,
  name: 'new_commutes',
  class: 'form-horizontal',
  'data-date' => @date do %>
  <input type="hidden" name="data"/>
  <div id="cars-container">
    <div class="commute-car-entry">
      <div class="control-group">
        <label class="control-label">Who drove?</label>
        <div class="controls">
          <select class="driver-select" name="driver"></select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Who else went?</label>
        <div class="controls commuters-container"></div>
      </div>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Save</button>
      <a href="#" id="commute-add-car-button" style="display: block">Add another car</a>
    </div>
  </div>
<% end %>

