<h1><%= @date.strftime('%d %B %Y (%A)') %></h1>
<%= form_tag commute_path(@date),
  method: :put,
  name: 'new_commutes',
  class: 'form-horizontal',
  'data-date' => @date,
  'data-bind' => "submit: onFormSubmit" do %>
  <input type="hidden" name="data" data-bind="value: finalData"/>
  <div data-bind="foreach: cars">
    <div class="control-group">
      <label class="control-label">Who drove?</label>
      <div class="controls">
        <select class="driver-select" name="driver" data-bind="options: $root.users, value: driver, optionsText: 'name'"></select>
        <a href="#" data-bind="click: $root.removeCar">Remove</a>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Who else went?</label>
      <div class="controls">
        <div data-bind="foreach: participations">
          <label data-bind="visible: !$parent.advancedModeEnabled()">
            <input type="checkbox" data-bind="checked: controller().didGo, enable: isNotDriver">
            <span data-bind="text: user.name"></span>
          </label>
          <div data-bind="visible: $parent.advancedModeEnabled">
            <input type="checkbox" data-bind="checked: controller().didGoTo, enable: isNotDriver">
            <input type="checkbox" data-bind="checked: controller().didGoFrom, enable: isNotDriver">
            <span data-bind="text: user.name"></span>
          </div>
        </div>
        <a href="#" data-bind="click: toggleMode, visible: !advancedModeEnabled()">Advanced mode</a>
        <a href="#" data-bind="click: toggleMode, visible: advancedModeEnabled">Basic mode</a>
      </div>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Save</button>
      <a href="#" style="display: block" data-bind="click: addCarEntry">Add another car</a>
    </div>
  </div>
<% end %>

<%= javascript_tag 'initCommuteForm();' %>
