<% @users.each do |user| %>
  <td
    <% if day_summary.user_went?(user, direction) %>
      style='background-color: <%= day_summary.get_driver_for(user).colour %>'
    <% end %>
  >
    <%= day_summary.get_driver_for(user).nil? ? '0': '1' %>
  </td>
<% end %>
